.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: auto;
  margin-top: 67px;
  margin-bottom: 60px;
  color: rgba(84, 84, 84, 1);
}

@media only screen and (max-width: 320px) {
  .footer {
    margin-top: 48px;
    font-size: 14px;
  }
}
