@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/pages.css);
@import url(./blocks/.header);
@import url(../blocks/content.css);
@import url(../blocks/profile.css);
@import url(../blocks/card.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 62px;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    margin-top: 14px;
    padding-right: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
  }

  .profile__add-button {
    padding: 0;
    width: 282px;
    align-items: center;
    margin: 0;
    margin-top: 36px;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .profile__image {
    margin: 0;
    margin-bottom: 30px;
  }
}
