@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/pages.css);
@import url(./blocks/.header);
@import url(../blocks/content.css);
@import url(../blocks/profile.css);
@import url(../blocks/card.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 62px;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    padding: 0;
    width: 100%;
    align-items: center;
    border-radius: solid white;
  }
}
